<div id="<%= dom_id bible_reference %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Start book name:</strong>
    <%= bible_reference.start_book_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start chapter:</strong>
    <%= bible_reference.start_chapter %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start verse:</strong>
    <%= bible_reference.start_verse %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End book name:</strong>
    <%= bible_reference.end_book_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End chapter:</strong>
    <%= bible_reference.end_chapter %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End verse:</strong>
    <%= bible_reference.end_verse %>
  </div>
</div>
