<div id="<%= dom_id song %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= song.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Musical key:</strong>
    <%= song.musical_key %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lyrics url:</strong>
    <%= song.lyrics_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Chords url:</strong>
    <%= song.chords_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sheet music url:</strong>
    <%= song.sheet_music_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last sung at:</strong>
    <%= song.last_sung_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Times sung count:</strong>
    <%= song.times_sung_count %>
  </div>
</div>
